@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To</h1>
    <p class="lead">Commercial Application</p>
    <p><a href="https://shop.rangs.com.bd/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
